*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(180deg,rgb(191, 245, 255),rgb(255, 255, 255));
    min-height: 100vh;
    padding-bottom: 50px;
}


.list-group-item{
    margin-top: 20px;
    box-shadow: 3px 3px 7px grey;
}